#root {
  display: flex;
  justify-content: center;
}

#drum-machine {
  width:  450px;
  height: 450px;
  display: grid;
  margin: auto;
  border: 1px solid black;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px 15px;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    "header header header"
    "pad1 pad2 pad3"
    "pad4 pad5 pad6"
    "pad7 pad8 pad9";
}

.drum-pad{
  border: 2px solid black;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
}

.drum-pad div {
  margin: auto;
}

.button-style {
  position: relative;
  height: 150px;
  width: 150px;
}

#display {
  grid-area: header;
  width: 100%;
  height: 60px;
  border: 1px ridge black;
  text-align: center;
  align-self: center;
}

#bell-tone {
  grid-area: pad1;

}

#chinese-block {
  grid-area: pad2;

}

#down-slide {
  grid-area: pad3;

}

#electric-guitar {
  grid-area: pad4;
}

#hand-cymbal {
  grid-area: pad5;
}

#needle-scratching {
  grid-area: pad6;
}

#scratch-gramophone {
  grid-area: pad7;
}

#tambourine-shake {
  grid-area: pad8;
}

#two-cabasa {
  grid-area: pad9;
}
