/*For list of ingredients*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h5 {
  text-align: center;
}

body {
  background-color: #4c6f7e;
}

/*Styling for list of recipes within the accordion*/
.collapsible-accordion {
  width: 100%;
  outline: none;
  padding: 10px;
  border: none;
  margin: 2px 0px;
  font-size: 25px;
}

.collapsible-accordion:hover {
  background-color: purple;
}

.recipe-list-container {
  background-color: yellow;
  min-height: 125px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.recipe-content-closed {
  display: none;
  overflow: hidden;
  padding: 0 18px;
}

.recipe-content-opened {
  display: block;
  overflow: hidden;
  padding: 0 1px;
}

.recipe-detail-display {

  border: 1px solid black;
  margin-bottom: 5px;
}

.recipe-ingredients-header {
  background-color: blue;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.recipe-list-group {
  margin: 5px;
}

.recipe-list-group li {
  padding: 15px 20px;
  display: block;
  border: 2px solid grey;
  margin-bottom: 1px;
}

.recipe-list-group li:hover {
  background-color: grey;
}

.recipe-detail-btn-display {
  text-align: right;
  margin-top: 10px;
  background-color: blue;
}

.recipe-detail-btn-display button {
  margin: 5px 10px;
}

.ingredients-list-display {
  width: 100%;
}

/*Outline and display for edit/add form*/
form {
  border: 1px solid black;
  margin-top: 10px;
  text-align: left;
  background-color: #c4d9dd;
}

.form-btn-display-footer {
  text-align: right;
  background-color: #93b5bc;
  padding: 5px 5px;

}

.form-btn-display-footer input {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  /*background-color: blue;
  border-radius: 10px;*/
}

.form-btn-display-footer button {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-input-display {
  margin: 2px 20px 2px;
}

.form-input-display input {
  width: 500px;
}

.input-recipe-container {
  margin-top: 20px;
  text-align: right;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid black;
}

.form-header-display {
  background-color: #93b5bc;
  padding-top: 10px;
  padding-bottom: 10px;
}
