/*For list of ingredients*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h5 {
  text-align: center;
}

body {
  background-color: #4c6f7e;
}

/*Styling for list of recipes within the accordion*/
/*Styling for button serving as accordion toggle*/
.collapsible-accordion {
  width: 100%;
  outline: none;
  padding: 10px;
  border: none;
  margin: 2px 0px;
  font-size: 25px;
  color: #d7ddda;
  background-color: #5d7e8d;
}

.collapsible-accordion:hover {
  background-color: #72dbe9;
  color: #6f8f58;
}

/*styling for column acting as recipe box container*/
.recipe-list-container {
  background-color: #56586e;
  min-height: 125px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

/*styling for ul list containing RecipeListItem components*/
.ingredients-list-display {
  width: 100%;
}

/*style for when accordion is either open or closed*/
.recipe-content-closed {
  display: none;
  overflow: hidden;
  padding: 0 18px;
}

.recipe-content-opened {
  display: block;
  overflow: hidden;
  padding: 0 1px;
}

.recipe-detail-display {
  margin-bottom: 5px;
}

.recipe-ingredients-header {
  background-color: #809ba7;
  color: #b2d9c6;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.recipe-list-group {
  margin: 5px;
}

.recipe-list-group li {
  padding: 15px 20px;
  display: block;
  border: 1px solid #56586e;
  margin-bottom: 1px;
}

.recipe-list-group li:hover {
  background-color: grey;
}

.recipe-group-ingredient {
  background-color: #9cabb2;
}

.recipe-detail-btn-display {
  text-align: right;
  margin-top: 10px;
  background-color: #809ba7;
}

.recipe-detail-btn-display button {
  margin: 5px 10px;
}

/*Outline, styling and display for edit/add form*/
form {
  border: 1px solid black;
  margin-top: 10px;
  text-align: left;
  background-color: #c4d9dd;
}

.form-btn-display-footer {
  text-align: right;
  background-color: #93b5bc;
  padding: 5px 5px;

}

.form-btn-display-footer input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-btn-display-footer button {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.form-input-display {
  margin: 2px 20px 2px;
}

.form-input-display input {
  width: 500px;
}

.form-header-display {
  background-color: #93b5bc;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Styling for col div acting as container for edit/add form, and add ingredient button*/
.input-recipe-container {
  margin-top: 20px;
  text-align: right;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #56586e;
}
