.button-style {
  background:none!important;
  color:inherit;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: text;

}

.button-style-highlighted {
  background:none!important;
  color:inherit;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: text;
  border-bottom: 1px solid #fffd71;
}

.name-col-style {
  margin-left: 25px;
}

.column-style{
  text-align: center;
}

.table-header {
  text-align: center;
  vertical-align: middle;
  font-size: 100%;
  height: 40px;
  width: 75%;
  color: #403e40;
  background-color: rgba(0, 255, 249, 0.3);
}

body {
  background-color: #403e40;
}

img {
  height: 35px;
  width: 35px;
  margin-right: 15px;
}

table {
  width: 75%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: rgba(0, 252, 211, 0.2);
  color: #fffd71;
}

th, td {
  padding: 10px;
  vertical-align: middle;
}

td {
  border: 3px outset rgba(238, 255, 15, 0.2);
}

th{
  height: 50px;
  text-align: center;
  border: 1px solid rgba(238, 255, 15, 0.2);;
}

tr {
  height: 40px;
}

tbody tr:nth-child(odd) {
  background-color: rgba(12, 40, 213, 0.2);
}

tbody tr:hover {
  background-color: rgba(0, 255, 249, 0.3);
}
