.buttonConfig {
	-moz-box-shadow: 0px 10px 16px -7px #0e20e6;
	-webkit-box-shadow: 0px 10px 16px -7px #0e20e6;
	box-shadow: 0px 10px 16px -7px #0e20e6;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5736d9), color-stop(1, #333859));
	background:-moz-linear-gradient(top, #5736d9 5%, #333859 100%);
	background:-webkit-linear-gradient(top, #5736d9 5%, #333859 100%);
	background:-o-linear-gradient(top, #5736d9 5%, #333859 100%);
	background:-ms-linear-gradient(top, #5736d9 5%, #333859 100%);
	background:linear-gradient(to bottom, #5736d9 5%, #333859 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5736d9', endColorstr='#333859',GradientType=0);
	background-color:#5736d9;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c1b9c9;
	margin: 5px;
}
.buttonConfig:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #333859), color-stop(1, #5736d9));
	background:-moz-linear-gradient(top, #333859 5%, #5736d9 100%);
	background:-webkit-linear-gradient(top, #333859 5%, #5736d9 100%);
	background:-o-linear-gradient(top, #333859 5%, #5736d9 100%);
	background:-ms-linear-gradient(top, #333859 5%, #5736d9 100%);
	background:linear-gradient(to bottom, #333859 5%, #5736d9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333859', endColorstr='#5736d9',GradientType=0);
	background-color:#333859;
}
.buttonConfig:active {
	position:relative;
	top:1px;
}

.buttonSize {
	width: 76px;
	height: 53px;
	/*text-align: center; */
	text-align: center;
display:table-cell;
vertical-align:middle;
}

.equalButtonSize {
	width: 76px;
	height: 116px;
}

.calcDisplay {
	/*width: 560px;
	height: 53px;*/
	background-color: rgba(93, 199, 111, 0.2);
	border: 4px inset #0f2940;
	border-radius: 3em/1em;
	position: relative;

}

@media screen and (min-width: 600px) {
	.displaySize {
		height: 106px;
		max-width: 450px;
	}
}

@media screen and (min-width: 600px) {
	.calcPanelSize {
		max-width: 650px;
		height: 450px;
	}

}

@media (min-width: 768px) {
    .container{
        max-width: 800px;
			/*	justify-content: center;
    		align-items: center;
				display: block;
				vertical-align: middle;
				*/
    }
}

@media screen and (min-width: 650px) {
	.rowSize {
		max-width: 700px;
		height: 500px;
	}
}

[class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

#calcPanel {

	border-radius: 10px 50px 30px;
	border: 5px outset #3e4348;
	background-color: rgba(47, 64, 80, 0.2);
	box-shadow: 5px 10px 100px inset;
}

#outputDisplay {
	width:auto;
	height: 24px;
	font-size: 15px;
	font-family: 'Graduate', cursive;
}

#inputDisplay {
	width: auto;
	height: 65px;
	font-size: 40px;
	font-family: 'Graduate', cursive;
}

.displayContainer {
	width: 95%;
	height: 95%;
	top: 3px;
	left: 15px;
	position: absolute;
	padding-right: 40px;
	padding-top: 10px;
}

.rowSize {
	border: 3px inset;
	border-radius: 10px 50px 30px;
	background-clip: border-box;
	background-image: -webkit-linear-gradient(45deg, #595959 12%,#4c4c4c 15%,#4c4c4c 15%,#515151 39%,#353832 61%,#d3d3d3 89%); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(45deg, #595959 12%,#4c4c4c 15%,#4c4c4c 15%,#515151 39%,#353832 61%,#d3d3d3 89%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.container {
	border: 1px solid red;
}

#buttonPanel {
	margin-top: 10px;
}

#title {
	margin-top: 5px;
	font-family: "Courier New", Courier, monospace;
	color: #d7dce0;
}
