body {
  background-color: #282f35;
}

button {
  background: #282f35;
  color: rgba(253, 254, 255, 0.7);
}

button:hover {
  background: rgba(202, 200, 216, 0.5);
}

#heading {
  color: rgba(253, 254, 255, 0.7);

  font-family: 'Fontdiner Swanky';
  padding-top: 5px;
  margin-top: 5px;
}

#timerDisplay {
  height: 330px;
  color: rgba(253, 254, 255, 0.7);
  width: 330px;
  cursor: pointer;
  background-size: 100% 200%;

  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 8px groove #00edc6;

}

.timerStart {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #282f35 50%, #1512e6 50%);

}

.timerDown {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #282f35 50%, #12f558 50%);
}


#pomodoroPanel {

  background-color: #282f35;
  height: 700px;
  width: auto;
  -webkit-clip-path: polygon(8% 0, 92% 0, 100% 8%, 100% 92%, 92% 100%, 8% 100%, 0 92%, 0 8%);
clip-path: polygon(8% 0, 92% 0, 100% 8%, 100% 92%, 92% 100%, 8% 100%, 0 92%, 0 8%);

}

#pomodoroContainer {
  margin:auto;
  padding: 25px;
  -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
}

.pomodoroConStart {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #282f35 50%, black 50%);
}

.pomodoroConDown {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #282f35 50%, #12f558 50%);

}

@media screen and (min-width: 600px) {
	#pomodoroContainer {
		height: 900px;
		max-width: 900px;
	}
}


#breakSettings {
  height: 160px;
  width: 160px;
  color: rgba(253, 254, 255, 0.7);
  border-radius: 173px 173px 173px 173px;
  -moz-border-radius: 173px 173px 173px 173px;
  -webkit-border-radius: 173px 173px 173px 173px;
  border: 4px groove #00edc6;
 }



#sessionSettings {
  height: 160px;
  width: 160px;
  color: rgba(253, 254, 255, 0.7);
  border-radius: 173px 173px 173px 173px;
  -moz-border-radius: 173px 173px 173px 173px;
  -webkit-border-radius: 173px 173px 173px 173px;
  border: 4px groove #00edc6;
}

.timerSettingStart {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #282f35 50%, #1512e6 50%);
}


.timerSettingDown {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #282f35 50%, #12f558 50%);

}


#timerSettings {
  margin-top: 40px;
}

#timerPanel {
  margin-top: 50px;
}
