/*Simon game board using canvas*/
#simonCanvas {
  border: 2px solid black;
  position:absolute;
  padding: 0;
  margin: auto;
  display: block;

}

.circle-panel {
  border: 2px solid black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: purple;
  top: 290px;
  left: 300px;
  box-shadow: 0 0 .75em;
  position: absolute;
  z-index: 5;
  /*display: block;*/
/*  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;*/
}

.simon-container {
  position: relative;
  /*margin: 0px auto;
  text-align: center;*/
}

.board-container{
  position: relative;
  margin: 10px auto;
  /*border: 1px solid black;*/
  padding: 0;

  /*border-radius: 50%;*/
  list-style: none;
}

.circle-panel-settings {
  /*position: absolute;*/

}

#countScreen {
  margin-left: 5px;
  margin-right: 5px;
}

#start {
  margin-left: 5px;
  margin-right: 5px;
}

#strickMode {
  margin-right: 5px;
  margin-left: 5px;
}

.onoffswitch {
    position: relative; width: 101px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 13px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #140D0D; color: #11FA00;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #140D0D; color: #2E5AE8;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 30px; margin: -3px;
    background: #0059FF;
    position: absolute; top: 0; bottom: 0;
    right: 73px;
    border: 2px solid #FFFFFF; border-radius: 13px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #11FA00;
}
