.conic-shape {
  background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
  border: 2px solid black;
  height: 200px;
}

#simonBoard {
  border: 2px solid black;
  border-radius: 50%;
  height: 900px;
  width: 900px;
}

.outside-border {
  border: 2px solid black;
}

.upper-circle {
  border: 1px solid black;
  border-top-left-radius: 1800px;
  border-top-right-radius: 1800px;
  height: 200px;

}
