html {
  height: 100%
}

body {
  height: 100%;
  background: -moz-radial-gradient(center, ellipse cover, rgba(79,77,255,1) 0%, rgba(79,77,255,1) 29%, rgba(0,0,0,1) 59%, rgba(0,0,0,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(79,77,255,1)), color-stop(29%, rgba(79,77,255,1)), color-stop(59%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
  background:-webkit-radial-gradient(center, ellipse cover, rgba(79,77,255,1) 0%, rgba(79,77,255,1) 29%, rgba(0,0,0,1) 59%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(79,77,255,1) 0%, rgba(79,77,255,1) 29%, rgba(0,0,0,1) 59%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(79,77,255,1) 0%, rgba(79,77,255,1) 29%, rgba(0,0,0,1) 59%, rgba(0,0,0,1) 100%); /* ie10+ */
  background:radial-gradient(ellipse at center, rgba(79,77,255,1) 0%, rgba(79,77,255,1) 29%, rgba(0,0,0,1) 59%, rgba(0,0,0,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4F4DFF', endColorstr='#000000',GradientType=1 );  /*ie6-9*/
}


.board-column {
  height: 125px;
  line-height: 125px;
  vertical-align: middle;
  text-align: center;
}

.board-col-bottom {
  border-bottom: 3px solid rgba(227, 223, 188, 0.8);
}

.board-col-edges {
  border-left: 3px solid rgba(227, 223, 188, 0.8);
  border-right: 3px solid rgba(227, 223, 188, 0.8);
}

#gameInformation {
  height: 50px;
  margin-top: 10px;

}

#gameBoard {
  border: 2px solid black;
  margin-top: 20%;
  background-color: rgba(2, 2, 13, 0.8);
  border-radius: 90% / 5%;
  height: 475px;
}

.highlight-turn {
  background: #1f0097;
  color: #ecff00;
}

.highlight-turn:hover {
  box-shadow: 1px 1px 15px 3px rgba(0,0,236,0.8);
  -webkit-box-shadow: 1px 1px 15px 3px rgba(0,0,236,0.8);
  -moz-box-shadow: 1px 1px 15px 3px rgba(0,0,236,0.8);
}

.no-turn {
  background-color: rgba(2, 2, 13, 0.8);
  color: #11feee;
}

.no-turn:hover {
  box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.58);
  -webkit-box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.58);
  -moz-box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.58);
}

#board {
  margin: 5px 3% 3% 3%;
  background-color: rgba(10, 10, 48, 0.97);
  color: #ffe500;
  font-size: 75px;
  font-family: 'Orbitron';
  margin-top: 10px;
}

#resetGame {
  color: #11feee;
}

#resetGame:hover {
  background-color: green;
  color: white;
  box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.58);
  -webkit-box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.58);
  -moz-box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.58);
}

.badge {
  background-color: rgba(44, 112, 23, 0.8);
}

.modal-box {
  background-color: rgba(31, 9, 240, 0.5);
  color: #c0fa1f;
  height: 300px;

}

.choose-btn-style {
  color: #c0fa1f;
  background-color: rgba(13, 17, 29, 0.3);
  cursor: pointer;
}

.modal {
  background-color: rgba(93, 0, 250, 0.4) !important;
}

.modal-body {
  padding: 10%;
}

.pick-size {
  font-size: 30px;
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  top: 50%;
  margin: 0 auto;
}
